mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
  overflow-x: hidden;
}
mat-sidenav {
  width: 250px;
  background-color: #91592C;
}

.height {
  height: calc(100% - 64px);
}