
body {
  height: 100%;
  width: 100%;
}

.login_page {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.box_logo {
  background-color: #FFBA5C;
  display: flex;
  flex-direction: column;
}

.campos-form {
  margin-top: 20px;
}

.button-form {
  margin-top: 15px;
  text-align: center;
  min-width: -webkit-fill-available;
}

.text_logo {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.text_login {
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  width: 350px;
  margin-top: 90px;
}

.box_btn_login {
  margin-top: 175px;
}


#btn_login {
  background-color: #FFBA5C;
  border-color: #FFBA5C;
  color: white;
  width: 200px;
}

#btn_cadastro {
  background-color: #C5AC99;
  border-color: #C5AC99;
  color: white;
  width: 200px;
  margin-top: 30px;
}

img {
  max-width: 200px;
}

@media(max-width: 575px) {

  img {
    max-width: 130px;
    margin-right: 60px;
  }

  .text_login {
    margin-top: 0px;
  }

  .box_btn_login {
    margin-top: 0px;
  }

  .text_logo {
    font-size: 20px;
  }

  .text_login {
    font-size: 16px;
    width: 350px;
    margin-top: 0px;
  }

  #btn_login {
    width: 180px;
  }

  #btn_cadastro {
    width: 180px;
    margin-top: 15px;
  }
}
