<mat-card class="main-card">
  <mat-card-header class="justify-content-center">
    <mat-card-title><span>Carrinho</span></mat-card-title>
  </mat-card-header>
  <mat-card-content class="">
    <div class="row p-5 justify-content-center">
      <div class="col-md-4 mb-4" *ngFor="let item of basketItems">
        <mat-card class="mx-auto border">
          <mat-card-header>
            <mat-card-title>{{ item?.product?.name }}</mat-card-title>
            <mat-card-subtitle>{{ item?.product?.description }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="item?.product?.photo?.path">
          <mat-card-content>
            {{ item?.product?.accompaniments }}
          </mat-card-content>
          <mat-card-footer class="p-2">
            <div class="row">
              <div class="col-4">
                <input type="number" class="w-100 form-control" [value]="item?.quantity">
              </div>
              <div class="col-4">
                <button class="btn btn-success">Atualizar</button>
              </div>
              <div class="col-4">
                <button class="btn btn-danger">Remover</button>
              </div>
            </div>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>
