<mat-card>
    <mat-card-header class="text-center d-block">
      <mat-card-title>
        <div class="row d-block"><span>Menu de Produtos</span></div>
        <hr>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header class="panel-header">
          <mat-panel-title>
            <h3>Pratos Principais</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="mainDishesProducts" multiTemplateDataRows class="w-100 mat-elevation-z8 my-3">
            
            <ng-container matColumnDef="mainDishPhoto">
                <th mat-header-cell class="text-center col-2" *matHeaderCellDef> Foto </th>
                <td mat-cell class="p-2 d-md-block d-none" *matCellDef="let mainDish"> <img
                    class="img-thumbnail mx-auto col-12" src="{{ url + '' }}"> </td>
            </ng-container>
            <ng-container matColumnDef="mainDishName">
                <th mat-header-cell *matHeaderCellDef> Prato </th>
                <td mat-cell *matCellDef="let mainDish">  </td>
            </ng-container>
            <ng-container matColumnDef="mainDishDescription">
                <th mat-header-cell *matHeaderCellDef> Acompanhamentos </th>
                <td mat-cell *matCellDef="let mainDish">  </td>
            </ng-container>
            <ng-container matColumnDef="mainDishPrice">
                <th mat-header-cell *matHeaderCellDef> Preço </th>
                <td mat-cell *matCellDef="let mainDish">  </td>
            </ng-container>
      
            <tr mat-header-row *matHeaderRowDef="columnsToDisplayMainDishes"></tr>
            <tr class="hover" mat-row *matRowDef="let row; columns: columnsToDisplayMainDishes;"
              (click)="expandedElement = expandedElement === row ? null : row">
            </tr>
          </table>
      </mat-expansion-panel>
      <br/>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>Acompanhamentos</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="sideDishesProducts" multiTemplateDataRows class="w-100 mat-elevation-z8 my-3">
  
            <ng-container matColumnDef="sideDishPhoto">
                <th mat-header-cell class="text-center col-2" *matHeaderCellDef> Foto </th>
                <td mat-cell class="p-2 d-md-block d-none" *matCellDef="let sideDish"> <img
                    class="img-thumbnail mx-auto col-12" src="{{ url + '' }}"> </td>
            </ng-container>
            <ng-container matColumnDef="sideDishName">
                <th mat-header-cell *matHeaderCellDef> Prato </th>
                <td mat-cell *matCellDef="let sideDish">  </td>
            </ng-container>
            <ng-container matColumnDef="sideDishDescription">
                <th mat-header-cell *matHeaderCellDef> Acompanhamentos </th>
                <td mat-cell *matCellDef="let sideDish">  </td>
            </ng-container>
            <ng-container matColumnDef="sideDishPrice">
                <th mat-header-cell *matHeaderCellDef> Preço </th>
                <td mat-cell *matCellDef="let sideDish">  </td>
            </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="columnsToDisplaySideDishes"></tr>
          <tr class="hover" mat-row *matRowDef="let row; columns: columnsToDisplaySideDishes;"
            (click)="expandedElement = expandedElement === row ? null : row">
          </tr>
        </table>
      </mat-expansion-panel>
      <br/>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>Bebidas</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="logs-table">
            <table mat-table [dataSource]="beveragesProducts" multiTemplateDataRows class="mat-elevation-z8 my-3">

                <ng-container matColumnDef="beveragePhoto">
                    <th mat-header-cell class="text-center col-2" *matHeaderCellDef> Foto </th>
                    <td mat-cell class="p-2 d-md-block d-none" *matCellDef="let beverage"> <img
                        class="img-thumbnail mx-auto col-12" src="{{ url + '' }}"> </td>
                </ng-container>
                <ng-container matColumnDef="beverageName">
                    <th mat-header-cell *matHeaderCellDef> Bebida </th>
                    <td mat-cell *matCellDef="let beverage">  </td>
                </ng-container>
                <ng-container matColumnDef="beverageDescription">
                    <th mat-header-cell *matHeaderCellDef> Acompanhamentos </th>
                    <td mat-cell *matCellDef="let beverage">  </td>
                </ng-container>
                <ng-container matColumnDef="beveragePrice">
                    <th mat-header-cell *matHeaderCellDef> Preço </th>
                    <td mat-cell *matCellDef="let beverage">  </td>
                </ng-container>
        
              <tr mat-header-row *matHeaderRowDef="columnsToDisplayBeverages"></tr>
              <tr class="hover" mat-row *matRowDef="let row; columns: columnsToDisplayBeverages;">
              </tr>
            </table>
        </div>
      </mat-expansion-panel>
      <br>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>Sobremesas</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="logs-table">
            <table mat-table [dataSource]="dessertsProducts" multiTemplateDataRows class="mat-elevation-z8 my-3">

                <ng-container matColumnDef="dessertPhoto">
                    <th mat-header-cell class="text-center col-2" *matHeaderCellDef> Foto </th>
                    <td mat-cell class="p-2 d-md-block d-none" *matCellDef="let dessert"> <img
                        class="img-thumbnail mx-auto col-12" src="{{ url + '' }}"> </td>
                </ng-container>
                <ng-container matColumnDef="dessertName">
                    <th mat-header-cell *matHeaderCellDef> Sobremesa </th>
                    <td mat-cell *matCellDef="let dessert">  </td>
                </ng-container>
                <ng-container matColumnDef="dessertDescription">
                    <th mat-header-cell *matHeaderCellDef> Acompanhamentos </th>
                    <td mat-cell *matCellDef="let dessert">  </td>
                </ng-container>
                <ng-container matColumnDef="dessertPrice">
                    <th mat-header-cell *matHeaderCellDef> Preço </th>
                    <td mat-cell *matCellDef="let dessert">  </td>
                </ng-container>
        
              <tr mat-header-row *matHeaderRowDef="columnsToDisplayDesserts"></tr>
              <tr class="hover" mat-row *matRowDef="let row; columns: columnsToDisplayDesserts;">
              </tr>
            </table>
        </div>
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>
  

