<mat-toolbar class="header">
  <button mat-icon-button (click)="onToggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>

  <button id="btn-delivery-activate" class="btn btn-dark btn-sm">
    Entrega Ativa
  </button>

  <span class="modal-change-status">
    <modal-change-status></modal-change-status>
  </span>

  <span class="menu-user-name">Seja bem-vindo(a), {{ userNameLogged }}</span>

  <button mat-icon-button id="btn-logout" (click)="logOut()">
    <mat-icon>logout</mat-icon>
  </button>

</mat-toolbar>


<!-- <mat-toolbar class="header container-fluid">
    <div class="row">
        <div class="col-sm col-2">
            <button mat-icon-button (click)="onToggleSidenav()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <div class="col-sm">
            <button id="btn-delivery-activate" class="btn btn-dark btn-sm">
                Entrega Ativa
            </button>
        </div>
        <div class="col-sm col-2">
            <span class="modal-change-status">
                <modal-change-status></modal-change-status>
            </span>
        </div>
        <div class="col-sm-4 col-2">
            <span class="menu-user-name">Seja bem-vindo(a), {{ userNameLogged }}</span>
        </div>
        <div class="col-sm">
            <button mat-icon-button id="btn-logout" (click)="logOut()">
                <mat-icon>logout</mat-icon>
            </button>
        </div>
    </div>
</mat-toolbar> -->
