<div class="container">
  <div class="row justify-content-center">
    <h1 class="text-center"> Oops!</h1>
    <h2 class="text-center">Página não encontrada.</h2>
  </div>
  <div class="row my-4 justify-content-center">
    <div class="error-details row justify-content-center">
      Desculpe, esta página não existe.
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-2">
      <a (click)="redirect()" class="btn btn-primary" style="background-color: #FFBA5C; border: #FFBA5C;">
        Retorna à página principal.
      </a>
    </div>
  </div>
</div>
