.container-fluid {
  background-color: #FFBA5C;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

h1 {
  text-align: center;
}

.button-form {
  margin-top: 10px;
  width: 120px;
  text-align: center;
  min-width: -webkit-fill-available;
}

.campos-login {
  margin-top: 10px;
  border-radius: 5px;
}

.mat-form-field-infix {
  color: white !important;
}
