<mat-nav-list>
  <a mat-list-item (click)="toMenu()">
    <mat-icon>restaurant_menu</mat-icon><span class="nav-caption">Menu</span>
  </a>
  <a mat-list-item (click)="toInvoice()">
    <mat-icon>restaurant_menu</mat-icon><span class="nav-caption">Meu Pedido</span>
  </a>
  <a mat-list-item (click)="toInvoiceHistoric()">
    <mat-icon>account_box</mat-icon><span class="nav-caption">Histórico Pedidos</span>
  </a>
  <a mat-list-item (click)="toCart()">
    <mat-icon>shopping_cart</mat-icon><span class="nav-caption">Carrinho</span>
  </a>
  <a mat-list-item class="menu-logout" routerLink="history" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </a>
</mat-nav-list>
