

a {
  text-decoration: none;
  color: white;
}

  a:hover, a:active {
    color: white;
  }

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}

a.menu-logout {
  position: relative;
  margin-top: calc(100vh - 135%);
}
